PORT=3000
NODE_ENV=Development
TZ=Asia/Kolkata
APP_DOMAIN=incuman.com
FRONTEND_URL=http://localhost:5173
PLATFORM=Stock

# Database (MongoDB)
MONGO_DB=mongodb://mongodb:27017/Stock?replicaSet=rs0

# Authentication & Security
JWT_SECRET=any_long_random_string_here_12345
JWT_ACCESS_SECRET="another-super-secure-random-string-for-access-tokens"
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Redis (BullMQ)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379

# Admin Configuration
SUPERADMIN_EMAILS=superadmin@example.com,admin@example.com,girikhon2006@gmail.com
DEFAULT_SUPERADMIN_EMAIL=admin@incuman.com
DEFAULT_SUPERADMIN_PASSWORD=5fJn1aPsaNmn3ei7YnxNW7c9X0su4ZBl

# MinIO Configuration
USE_MINIO=true
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
MINIO_BUCKET_NAME=icuman
