PORT=3000
NODE_ENV=Development
TZ=Asia/Kolkata
APP_DOMAIN=incuman.com
FRONTEND_URL=http://localhost:5173
PLATFORM=INCUMAN

# Database (MongoDB)
MONGO_DB=mongodb://127.0.0.1:27017/sass

# Database (PostgreSQL / Prisma)
DATABASE_URL="postgresql://myuser:mypassword@127.0.0.1:5432/sass_v2_db?schema=public"

# Authentication & Security
JWT_SECRET=any_long_random_string_here_12345
JWT_ACCESS_SECRET="another-super-secure-random-string-for-access-tokens"
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
CLOUDFLARE_TURNSTILE_SECRET_KEY=0x4AAAAAACIC37a5Zk8Du4vwskVpmv8UQUA

# Web Push (VAPID)
VAPID_PUBLIC_KEY=BAZCKaZY7Gw9_T3jq_GtbkQyfJgQeazENEOEfP5EnqGwxklIWjxAPQCl2HTlkTZKIbeovYpC7xRyjz6bbDt4_Tk
VAPID_PRIVATE_KEY=J7DFn4tM26gCAlzdkJEZUjBjck8AacmJlAxLuj1ROss

# Redis (BullMQ)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_URL=redis://127.0.0.1:6379

# MinIO Configuration
USE_MINIO=true
MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
MINIO_BUCKET_NAME=icuman

# Admin Configuration
SUPERADMIN_EMAILS=superadmin@example.com,admin@example.com,girikhon2006@gmail.com
DEFAULT_SUPERADMIN_EMAIL=admin@incuman.com
DEFAULT_SUPERADMIN_PASSWORD=5fJn1aPsaNmn3ei7YnxNW7c9X0su4ZBl
